@use "./../palette";

.wrapper {
  h1 { // 見出し
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 0.4rem;
    padding: 0 1rem;
  }

}

.entry { // 各項目
  padding: 1rem 2rem;

  & > { // 直接の子要素（サンプルコンポーネント内に影響しないように）
    h2 { // コンテナのタイトル
      font-size: 1.1rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    p { // サンプルの説明
      line-height: 1.5rem;
      margin-bottom: 1.4rem;
    }

    pre ol > li { // スニペットの表示：google prettyprint の中の li をいじる
      list-style-type: decimal; // 各行で行番号を表示
    }

  }
}

