@use "./../palette";

.wrapper {
  h1 { // 見出し
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 0.4rem;
    padding: 0 1rem;
  }

}

.entry { // 各項目
  padding: 1rem 2rem;

  & > { // 直接の子要素（サンプルコンポーネント内に影響しないように）
    h2 { // コンテナのタイトル
      font-size: 1.1rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    p { // サンプルの説明
      line-height: 1.5rem;
      margin-bottom: 1.4rem;
    }

    pre ol { // スニペットの表示 prettyprint に linenums をつけることで ol になる
      $accentColor: #aaa; // 行番号と区切り線の色
      padding: 0.5rem;
      padding-left: 3.2rem;
      counter-reset: item; // CSS のカウンタ機能
      position: relative;

      &::before { // 行番号との区切り線
        position: absolute;
        top: 0;
        left: 2.5rem;
        height: 100%;
        border-left: solid $accentColor 1px;
        content: " ";
      }
      
      & > li { // スニペットの各行
        list-style: none; // しかし li の番号は使わない（1. とかいうのになるので）
        font-size: 0.8rem;
        line-height: 1.2rem;
        position: relative;

        &::before { // 行番号
          position: absolute;
          transform: translateX(-100%); // 基準位置を左上に
          left: -1.3rem;
          color: $accentColor;
          counter-increment: item; // item カウンタをインクリメント
          content: counter(item); // カウンタの数字を表示
        }
      }
    }

  }
}

