@use "_palette";
@use "./../../lib/animations";

.app { // 画面全体
  display: grid;
  min-height: 100vh; // 画面全体を使う（高さ）
  grid-template-columns: 300px 1fr; // 横 1fr は残りってこと？
  grid-template-rows: 4.5rem 1fr 4rem; // 縦
  grid-template-areas:
    "header   header  "
    "aside    article "
    "footer   footer  ";
}

header { // ヘッダー
  grid-area: header;
  background: palette.$header_bg;
  display: flex;
  align-items: center;
  padding-left: 4%;

  .link { // リンク付きのタイトル
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    border: none;
    background-color: transparent;
    line-height: inherit;
    cursor: pointer;
    &:focus {
      outline: 0; // button 押したあとの枠を消す
    }

    h1 { // 文字部分
      color: palette.$header_fg;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
    }
  }
}

aside { // サイドバー領域
  padding: 2rem;

  .nav { // ナビゲーション（実際のコンテンツ）
    border: solid 2px black;
    padding: 2rem;
    ul { // 箇条書き
      li { // 各項目
        list-style: none;
        margin-bottom: 1rem;
      }
    }
  }
}

article { // コンテンツ
  padding: 1rem 2rem;
  padding-left: 0;
  background: gray;

  .contents {
  }
}

footer {
  grid-area: footer;
  background: black;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.loader {
  @include animations.loader-circles();
}



