@use "_palette";
@use "./../../lib/animations";

.app { // 画面全体
  display: grid;
  height: 100vh; // 画面全体を使う（高さ）
  grid-template-columns: 250px 1fr; // 横 1fr は残りってこと？
  grid-template-rows: 4.0rem 1fr 4rem; // 縦
  grid-template-areas:
    "header   header  "
    "nav      main    "
    "footer   main    ";
}

header { // ヘッダー
  grid-area: header;
  background: palette.$header_bg;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 4% 1.2rem 4%;

  a { // リンク（タイトルもgihubも）
    text-decoration: none;
    color: palette.$header_fg;
    h1 { // タイトル
      font-size: 1.5rem;
      font-weight: 600;
      color: inherit;
      margin: 0;
    }
    p { // github url
      font-size: 0.8rem;
      text-decoration: underline;
      color: inherit;
    }
  }
}

nav { // ナビゲーション（実際のコンテンツ）
  grid-area: nav;
  padding: 2.5rem;
  background: palette.$nav_bg;
  color: palette.$nav_fg;

  ul { // 箇条書き
    li { // 各項目
      list-style: none;
      margin-bottom: 1.5rem;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

main { // コンテンツ
  grid-area: main;
  padding: 1rem 2rem;
  overflow-y: auto; // この中でスクロール
}

footer {
  grid-area: footer;
  background: palette.$footer_bg;
  display: flex;
  justify-content: center;
  align-items: center;
  & > p {
    font-size: 0.8rem;
    color: palette.$footer_fg;
  }
}



