@use "_palette";
@use "./../../lib/animations";

.app { // 画面全体
  display: grid;
  min-height: 100vh; // 画面全体を使う（高さ）
  grid-template-columns: 270px 1fr; // 横 1fr は残りってこと？
  grid-template-rows: 4.0rem 1fr 4rem; // 縦
  grid-template-areas:
    "header   header  "
    "aside    article "
    "footer   footer  ";
}

header { // ヘッダー
  grid-area: header;
  background: palette.$header_bg;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 4% 1.2rem 4%;

  a { // リンク（タイトルもgihubも）
    text-decoration: none;
    color: palette.$header_fg;
    h1 { // タイトル
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
    }
    p { // github url
      font-size: 0.8rem;
      text-decoration: underline;
    }
  }
}

nav { // ナビゲーション（実際のコンテンツ）
padding: 2rem;
  ul { // 箇条書き
    border: solid 2px black;
    padding: 2rem;
    li { // 各項目
      list-style: none;
      margin-bottom: 1rem;
    }
  }
}

article { // コンテンツ
  padding: 1rem 2rem;
  padding-left: 0;
}

footer {
  grid-area: footer;
  background: palette.$header_bg;
  color: palette.$header_fg;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}



