@use "./../palette";
@use "./../sample";

.wrapper {
  @include sample.wrapper();
}

.box {
  width: 18rem;
}

.underline {
  width: 18rem;
}

p {

  &.label { // 各欄のラベル
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
  }

  &.alert { // アラートメッセージ
    font-size: 0.75rem;
    line-height: 1.4rem;
    color: palette.$alert_fg;
    text-align: right;
  }

}

