@use "./../palette";
@use "./../sample";

.wrapper {
  @include sample.wrapper();
}

.simple {
  width: 18rem;
}

.labeled {
  width: 18rem;
}

.placeholder {
  width: 18rem;
}

.alert { // アラートメッセージ
  font-size: 0.75rem;
  line-height: 1.4rem;
  color: palette.$alert_fg;
  text-align: right;
}

